# 環境変数
.env

# Node.js (root)
node_modules/
package-lock.json

# データディレクトリ
data/db/*
data/storage/*
!data/db/.gitkeep
!data/storage/.gitkeep

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Laravel (src内)
src/vendor/
src/node_modules/
src/.env
src/storage/*.key
src/storage/logs/*
!src/storage/logs/.gitkeep
src/.composer
src/vendor
src/.env

# IDE Helper
src/_ide_helper.php
src/_ide_helper_models.php
src/.phpstorm.meta.php
